/.idea/
*.tgz
*.lock
*.sh
*.pid
.terraform/
*.out*
*.tfstate*
*.lock.hcl
*.json
*.yaml
**/stage-*/
.vscode/
credentials.tfvars
kind-config
!infrastructure/service-mesh/grafana/config/dashboardproviders.yaml
!infrastructure/service-mesh/grafana/config/datasources.yaml
!infrastructure/service-mesh/grafana/dashboards/custom/*
!infrastructure/service-mesh/grafana/dashboards/downloader.sh
!modules/maintenance_mode/maintenance-mode.yaml
!*.tftpl.yaml
!.scripts/*.sh
!modules/maintenance_mode/.scripts/*.sh
!modules/maintenance_mode/.scripts/*.yaml
!modules/istio_routing_configurations/.scripts/*.sh
!modules/istio_routing_configurations/.scripts/*.json
!modules/istio_routing_configurations/testdata/negative/*.yaml
!modules/istio_routing_configurations/testdata/positive/*.yaml
!.tfdocs.yaml
!.trivyignore.yaml
*/backend.tf
checkov_report.xml
/tmp/
/lib/
Misconfiguration-Scan-*.html
tfplan.txt

.jenkinspipelines/
.scripts/*
.localScripts/
deployments/
test/

!.scripts/install-tools.sh
!.scripts/update-tools.sh
.trivyignore.yaml
README_internal.md
Misconfiguration-Scan-*.html

