# Values for notification-gateway.

# Enables debug mode
debug:
  enable: ${debug_enable}

istio:
  enable: ${istio_enable}

required:
  image: 
    repository: ${repository}
    %{ if strcontains(repository, "gematik1") }
    name: demis-notification-gateway
    %{ endif }

# Image Pull Secrets
imagePullSecrets: 
  %{~ for pull_secret in image_pull_secrets ~}
  - name: ${pull_secret}
  %{~ endfor ~}

# Extra Environment Variables to be defined
# customEnvVars
#   key: value
customEnvVars:
  # Prevents empty values that can delete the default environment variables
  TERRAFORM_DEPLOYMENT: true
  GATEWAY_SERVER_PORT: "8080"
%{ if feature_flag_new_api_endpoints ~}
  FHIR_DATA_TRANSLATION_SERVICE_URL: "http://futs.${namespace}.svc.cluster.local"
%{ else ~}
  FHIR_DATA_TRANSLATION_SERVICE_URL: "http://futs.${namespace}.svc.cluster.local/fhir-ui-data-model-translation"
%{ endif ~}
  HOSPITAL_LOCATION_SERVICE_URL: "https://${portal_hostname}${context_path}/services"
  NES_BASE_URL: "http://notification-processing-service.${namespace}.svc.cluster.local/"
  RPS_BASE_URL: "http://report-processing-service.${namespace}.svc.cluster.local/"
  KEYCLOAK_TOKEN_LAB_URI: "https://${core_hostname}/auth/realms/LAB/protocol/openid-connect/token"
  ALLOWED_ORIGINS: "http://localhost:8080,https://${portal_hostname},https://${meldung_hostname},https://${portal_hostname}${context_path},https://${meldung_hostname}${context_path}"
  %{~ for flag_name, flag_value in feature_flags ~}
  ${flag_name} : ${flag_value}
  %{~ endfor ~}
  %{~ for config_name, config_value in config_options ~}
  ${config_name} : "${config_value}"
  %{~ endfor ~}
  
%{~ if feature_flag_new_istio_sidecar_requests_and_limits && istio_proxy_resources != null ~}
podAnnotations:
  sidecar.istio.io/proxyCPU: ${istio_proxy_resources.requests.cpu}
  sidecar.istio.io/proxyMemory: ${istio_proxy_resources.requests.memory}
  sidecar.istio.io/proxyMemoryLimit: ${istio_proxy_resources.limits.memory}
%{endif}

%{~ if replica_count != null ~}
# Number of Pod Replicas desired
replicaCount: ${replica_count}
%{endif}

%{~ if resource_block != null ~}
# Override Resource Definitions for Pod
${resource_block}
%{endif}
