# Values for rabbitmq

# Enables debug mode
debug:
  enable: ${debug_enable}

istio:
  enable: ${istio_enable}
  
required:
  namespace: ${namespace}
  image: 
    repository: ${repository}
    %{ if strcontains(repository, "gematik1") }
    name: demis-rabbitmq
    %{ endif }

# Image Pull Secrets
imagePullSecrets: 
  %{~ for pull_secret in image_pull_secrets ~}
  - name: ${pull_secret}
  %{~ endfor ~}
  
# IMPORTANT: these values must be defined in the Secret Objects
config:
  # The (external) Secret Objects containing the API Key entry
  secrets:
    # Use default Secret from this Chart
    useDefault: false
 
podAnnotations:
  checksum/ars-bulk-ddl-database-secret: "${ars_bulk_ddl_db_secret_checksum}"
  checksum/ars-bulk-user-database-secret: "${ars_bulk_user_db_secret_checksum}"
  checksum/ars-bulk-purger-database-secret: "${ars_bulk_purger_db_secret_checksum}"
  checksum/ars_bulk_upload_hmac_secret: "{ars_bulk_upload_hmac_secret_checksum}"
  %{~ if feature_flag_new_istio_sidecar_requests_and_limits && istio_proxy_resources != null ~}
  sidecar.istio.io/proxyCPU: ${istio_proxy_resources.requests.cpu}
  sidecar.istio.io/proxyMemory: ${istio_proxy_resources.requests.memory}
  sidecar.istio.io/proxyMemoryLimit: ${istio_proxy_resources.limits.memory}
  %{endif}

secret:
  dbPwdBulkDdl:
    name: ars-bulk-ddl-database-secret
    key: ARS_BULK_DDL_DB_PASSWORD
  dbPwdBulkUser:
    name: ars-bulk-user-database-secret
    key: ARS_BULK_USER_DB_PASSWORD
  dbPwdBulkPurger:
    name: ars-bulk-purger-database-secret
    key: ARS_BULK_PURGER_DB_PASSWORD
  hmacBulk:
    name: ars-bulk-upload-hmac-secret
    key: ARS_BULK_UPLOAD_HMAC_SECRET

customEnvVars:
  # Prevents empty values that can delete the default environment variables
  TERRAFORM_DEPLOYMENT: true
  DB_URL: "jdbc:postgresql://pgbouncer.${namespace}.svc.cluster.local:5432/demis-bulk"
  DB_USER: ars-bulk-user
  LIQUIBASE_DB_USER: ars-bulk-ddl
  EXTERNAL_SERVER_URL: "https://${core_hostname}${context_path}/surveillance/antibiotic-resistance/v1"
  SPRING_RABBITMQ_HOST: rabbitmq.${namespace}.svc.cluster.local
  DEMIS_NETWORK_WAF_SERVICE_ADDRESS: "waf-service.${namespace}.svc.cluster.local"
  %{~ for flag_name, flag_value in feature_flags ~}
  ${flag_name} : ${flag_value}
  %{~ endfor ~}
  %{~ for config_name, config_value in config_options ~}
  ${config_name} : "${config_value}"
  %{~ endfor ~}

%{~ if replica_count != null ~}
# Number of Pod Replicas desired
replicaCount: ${replica_count}
%{endif}

%{~ if resource_block != null ~}
# Override Resource Definitions for Pod
${resource_block}
%{endif}