# Values for minio

istio:
  enable: ${istio_enable}

required:
  image: 
    repository: ${repository}
    %{ if strcontains(repository, "gematik1") }
    name: demis-minio
    %{ endif }

# Image Pull Secrets
imagePullSecrets: 
  %{~ for pull_secret in image_pull_secrets ~}
  - name: ${pull_secret}
  %{~ endfor ~}

# podAnnotations: 
#  checksum/minio-secret: "${minio_secret_checksum}"
  
# Define custom configuration values
# The Entries will be read from the given (external) Secrets and injected in the container with the same name.
# IMPORTANT: these values must be defined in the Secret Objects
config:
  useDefault: true
  settings:
    configMap:
      name: minio-config
  # Defines if MinIO data must be persisted on disk
  persistence:
    enabled: true
    # The Persistence Volume Claim where the files are available
    volumeClaim:
      # Use default Persistence Volume Claim from this Chart
      useDefault: false
      # The (external) Persistence Volume Claim to be used
      name: minio-volume-claim
    # The Persistence Volume where to store the data
    volume: 
      # Use the default embedded Persistence Volume (hostpath, for localhost)
      useDefault: false
  # The (external) Secret Objects containing the API Key entry
  secrets:
    # Use default Secret from this Chart
    useDefault: false
    # The (external) Secret for MinIO Keys
    minio:
      # The name of the (external) Secret for MinIO and the entries to be used and mapped
      name: minio-secret
      entries:
        MINIO_ROOT_USER: MINIO_ROOT_USER
        MINIO_ROOT_PASSWORD: MINIO_ROOT_PASSWORD

customEnvVars:
  # Prevents empty values that can delete the default environment variables
  TERRAFORM_DEPLOYMENT: true
  %{~ for flag_name, flag_value in feature_flags ~}
  ${flag_name} : ${flag_value}
  %{~ endfor ~}
  %{~ for config_name, config_value in config_options ~}
  ${config_name} : "${config_value}"
  %{~ endfor ~}

%{~ if feature_flag_new_istio_sidecar_requests_and_limits && istio_proxy_resources != null ~}
podAnnotations:
  sidecar.istio.io/proxyCPU: ${istio_proxy_resources.requests.cpu}
  sidecar.istio.io/proxyMemory: ${istio_proxy_resources.requests.memory}
  sidecar.istio.io/proxyMemoryLimit: ${istio_proxy_resources.limits.memory}
%{endif}

%{~ if replica_count != null ~}
# Number of Pod Replicas desired
replicaCount: ${replica_count}
%{endif}

%{~ if resource_block != null ~}
# Override Resource Definitions for Pod
${resource_block}
%{endif}
