# Enables debug mode
debug:
  enable: ${debug_enable}

istio:
  enable: ${istio_enable}
  
# Defines the Schedule for the CronJob - Run the job every night at 2 a.m.
cronJobSchedule: "${cron_schedule}"

required:
  image: 
    repository: ${repository}
    %{ if strcontains(repository, "gematik1") }
    name: demis-keycloak-user-purger
    %{ endif }
  suspend: ${suspend}

# Image Pull Secrets
imagePullSecrets: 
  %{~ for pull_secret in image_pull_secrets ~}
  - name: ${pull_secret}
  %{~ endfor ~}
  
# Define custom configuration values
# The Entries will be read from the given (external) Secrets and injected in the container with the same name.
# IMPORTANT: these values must be defined in the Secret Objects
config:
  # The (external) Secret Objects containing the API Key entry
  secret:
    # Use default Secret from this Chart
    useDefault: false
    # The (external) Secrets for Keycloak
    keycloak:
      portal:
        admin:
          # The name of the (external) Secret for Keycloak and the entry to be used
          name: keycloak-portal-secret
          key: KEYCLOAK_PORTAL_ADMIN_PASSWORD
        clientSecret:
          # The name of the (external) Client-Secret for Keycloak and the entry to be used
          name: keycloak-portal-secret
          key: KEYCLOAK_PORTAL_CLIENT_SECRET

# Extra Environment Variables to be defined
# customEnvVars
#   key: value
customEnvVars:
  # Prevents empty values that can delete the default environment variables
  TERRAFORM_DEPLOYMENT: true
  KEYCLOAK_PORTAL_CLIENT_ID: "${keycloak_portal_client_id}"
  KEYCLOAK_PORTAL_ADMIN_USERNAME: "${keycloak_portal_admin_user}"
  KEYCLOAK_URL: "http://keycloak.${namespace}.svc.cluster.local/"
  %{~ for flag_name, flag_value in feature_flags ~}
  ${flag_name} : ${flag_value}
  %{~ endfor ~}
  %{~ for config_name, config_value in config_options ~}
  ${config_name} : "${config_value}"
  %{~ endfor ~}

%{~ if feature_flag_new_istio_sidecar_requests_and_limits && istio_proxy_resources != null ~}
podAnnotations:
  sidecar.istio.io/proxyCPU: ${istio_proxy_resources.requests.cpu}
  sidecar.istio.io/proxyMemory: ${istio_proxy_resources.requests.memory}
  sidecar.istio.io/proxyMemoryLimit: ${istio_proxy_resources.limits.memory}
%{endif}
  
%{~ if replica_count != null ~}
# Number of Pod Replicas desired
replicaCount: ${replica_count}
%{endif}

%{~ if resource_block != null ~}
# Override Resource Definitions for Pod
${resource_block}
%{endif}