# Values for pgbouncer.
istio:
  enable: ${istio_enable}

required:
  image: 
    repository: ${repository}
    %{ if strcontains(repository, "gematik1") }
    name: demis-pgbouncer
    %{ endif }

# Image Pull Secrets
imagePullSecrets: 
  %{~ for pull_secret in image_pull_secrets ~}
  - name: ${pull_secret}
  %{~ endfor ~}

podAnnotations: 
  chesksum/userlist: "${userlist_secret_checksum}"
  chesksum/postgres-tls: "${postgres_tls_secret_checksum}"
  %{~ if feature_flag_new_istio_sidecar_requests_and_limits && istio_proxy_resources != null ~}
  sidecar.istio.io/proxyCPU: ${istio_proxy_resources.requests.cpu}
  sidecar.istio.io/proxyMemory: ${istio_proxy_resources.requests.memory}
  sidecar.istio.io/proxyMemoryLimit: ${istio_proxy_resources.limits.memory}
  %{endif}
      
# Define custom configuration values
config:
  databases:
%{ if pseudonymization_db_enabled ~}
    pseudonymization:
      host: ${database_host}
      port: 5432
      dbname: pseudonymization
%{ endif ~}
%{ if fhir_storage_db_enabled ~}
    fhir-storage:
      host: ${database_host}
      port: 5432
      dbname: fhir-storage
%{ endif ~}
%{ if surveillance_pseudonym_db_enabled ~}
    surveillance-pseudonym:
      host: ${database_host}
      port: 5432
      dbname: surveillance-pseudonym
%{ endif ~}
%{ if destination_lookup_db_enabled ~}
    destination_lookup:
      host: ${database_host}
      port: 5432
      dbname: destination_lookup
%{ endif ~}
%{ if demis_bulk_stats_db_enabled ~}
    demis-bulk-stats:
      host: ${database_host}
      port: 5432
      dbname: demis-bulk-stats
%{ endif ~}
  pgbouncer:
    server_lifetime: "300"
    max_client_conn: "200"
  # List for Users allowed to login through pgBouncer
  # The list contains entries in the form
  # "user" "password"
  userlist:
    name: pgbouncer-userlist-secret
  # Defines the TLS communication
  tls:
    enable: true
    serverTlsMode: verify-ca
    certificates:
      serverCA:
        name: postgres-tls-secret
        entry: ca.crt


%{~ if replica_count != null ~}
# Number of Pod Replicas desired
replicaCount: ${replica_count}
%{endif}

%{~ if resource_block != null ~}
# Override Resource Definitions for Pod
${resource_block}
%{endif}
